@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* COLOURS */
  /* Dark blue */
  --clr-base: #131625;
  /* Warm yellow */
  --clr-accent: #efd7bb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--clr-base);
  background-image: url('/stars.png');
  background-repeat: repeat;
  background-size: auto;
}

/* Colour and background colour utility classes */
.clr-base {
  color: var(--clr-base);
}
.bg-base {
  background-color: var(--clr-base);
}
.clr-accent {
  color: var(--clr-accent);
}
.bg-accent {
  background-color: var(--clr-accent);
}

/* Container utility class */
/* Restrict the width of the page content */
/* Also center content */
.content-width {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2.5rem;
}
